.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px;
    background-color: #121212;

}

.nav-categories {
    color: white;
    font-family: 'Montserrat';
    font-size: 16px;
    font-weight: 500;
    text-decoration: none;
}

.logo {
    width: 150px;
    height: 150px;
}